* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: proximanova, -apple-system, BlinkMacSystemFont, 'Noto Sans',
    'Segoe UI', Roboto, system-ui, 'Helvetica Neue', Arial, sans-serif;
}
